<div class="page-wrapper">

	<div class="row" ng-show="pageData.showPageSpinner">

		<div class="spinner-container-main" ng-show="pageData.showPageSpinner">
			<div class="spinner-container-loader"></div>
			<div class="spinner-container-loader-text-container">
				<p class="spinner-container-loader-text">{{ 'Loading' | translate }}</p>
			</div>
		</div>

	</div>

	<div class="row" ng-show="!pageData.showPageSpinner">

		<div class="main-page-expired-message" ng-show="pageData.showExpiredMessage">
			<div class="main-page-expired-message-container">
				<p class="main-page-expired-message-text">{{ 'This process has expired.' | translate }}</p>
			</div>
		</div>

		<div class="main-page-expired-message" ng-show="pageData.showAlertUpdatedMessage">
			<div class="main-page-expired-message-container">
				<p class="main-page-expired-message-text">{{ 'The alert has been updated.' | translate }}</p>
			</div>
		</div>

		<div class="main-page-expired-message" ng-show="pageData.showAlertDeletedMessage">
			<div class="main-page-expired-message-container">
				<p class="main-page-expired-message-text">{{ 'The alert has been deleted.' | translate }}</p>
			</div>
		</div>

		<div class="row" ng-show="pageData.showAlertForm">

	    	<div class="saved-alerts-div-wrapper">
				<div class="saved-alerts-div-container">
			        <div class="alert-condition-bar-item">
			        	<div class="bar-item-text-container">
			        		<p class="center-bar-item-text inline-label-text-dark">{{ 'SEND' | translate }}</p>
			        	</div>
			            <div class="alert-edit-multiselect-alert-types">
			                <multiselect disabled="pageData.disableAlertChannelsSelectOptions" class="single-select-menu" ng-model="pageData.alertChannelsModel" options="c.label for c in pageData.alertChannelsSelectOptions" data-multiple="false" defaultheader="{{ 'SELECT' | translate }}" ng-change="handleAlertChannelsSelected()"></multiselect>
			            </div>
			        </div>
		        </div>
	    	</div>

	    	<div class="saved-alerts-div-wrapper">
				<div class="saved-alerts-div-container">
			        <div class="alert-condition-bar-item">
			        	<div class="bar-item-text-container">
			        		<p class="center-bar-item-text inline-label-text-dark">{{ 'IF' | translate }}</p>
			        	</div>
			            <div class="alert-edit-multiselect-event-types">
			                <multiselect class="single-select-menu" ng-model="pageData.eventTypesModel" options="c.label for c in pageData.eventTypesSelectOptions" data-multiple="false" defaultheader="{{ 'SELECT' | translate }}" ng-change="handleEventTypesSelected()"></multiselect>
			            </div>
			        </div>
		        </div>
	        </div>

	        <div class="saved-alerts-div-wrapper">
				<div class="saved-alerts-div-container">
			        <div class="alert-condition-bar-item" ng-show="pageData.showMultiselectConditionalOperatorsSelectOptions">
			        	<div class="bar-item-text-container">
			        		<p class="center-bar-item-text inline-label-text-dark">{{ 'IS' | translate }}</p>
			        	</div>
			            <div class="alert-edit-multiselect-conditional-operator" ng-show="!pageData.isMultiselectConditionalOperatorsSelectOptions">
			                <multiselect disabled="pageData.disableConditionalOperatorsSelectOptions" class="single-select-menu" ng-model="pageData.conditionalOperatorsModel" options="c.label for c in pageData.conditionalOperatorsSelectOptions" data-multiple="false" defaultheader="{{ 'SELECT' | translate }}" ng-change="handleConditionalOperatorsSelected()"></multiselect>
			            </div>
			            <div class="alert-edit-multiselect-conditional-operator" ng-show="pageData.isMultiselectConditionalOperatorsSelectOptions">
			                <multiselect disabled="pageData.disableConditionalOperatorsSelectOptions" class="" ng-model="pageData.conditionalOperatorsModel" options="c.label for c in pageData.conditionalOperatorsSelectOptions" data-multiple="true" defaultheader="{{ 'SELECT' | translate }}" ng-change="handleConditionalOperatorsSelected()"></multiselect>
			            </div>
			        </div>
		        </div>
	        </div>

	        <div class="saved-alerts-div-wrapper">
				<div class="saved-alerts-div-container">
			        <div class="alert-condition-bar-item" ng-show="!pageData.showMultiselectAlertLocationsSelectOptions">
			        	<div class="bar-item-text-container">
			        		<p class="center-bar-item-text inline-label-text-dark">{{ 'FOR' | translate }}</p>
			        		<p class="center-bar-item-text inline-label-text-orange inline-label-text-orange-alert-locations">{{singleAlertLocation.label}}</p>
			        	</div>
			        </div>
			        <div class="alert-condition-bar-item" ng-show="pageData.showMultiselectAlertLocationsSelectOptions">
			        	<div class="bar-item-text-container">
			        		<p class="center-bar-item-text inline-label-text-dark">{{ 'FOR' | translate }}</p>
			        	</div>
			            <div class="alert-edit-multiselect-alert-locations">
			                <multiselect class="" ng-model="pageData.alertLocationsModel" options="c.label for c in pageData.alertLocationsSelectOptions" data-multiple="true" defaultheader="{{ 'SELECT' | translate }}" ng-change="handleAlertLocationsSelected()"></multiselect>
			            </div>
			        </div>
		        </div>
	        </div>

		</div>

		<div class="row" ng-show="pageData.showAlertForm">
			<div class="saved-alerts-off-checkboxes-wrapper">
				<div class="alert-condition-bar-item"><p class="center-bar-item-text inline-label-text-dark">{{ 'WHAT DAYS DO YOU WANT TO RECEIVE ALERTS?' | translate }}</p></div>
				<div class="alert-condition-bar-item">
		            <div class="alert-edit-multiselect-alert-saved-alerts-off">
		                <multiselect class="" ng-model="pageData.alertSavedAlertOffModel" options="c.label for c in pageData.alertSavedAlertOffSelectOptions" data-multiple="true" defaultheader="{{ 'SELECT' | translate }}" ng-change="handleAlertSavedAlertOffSelected()"></multiselect>
		            </div>
		        </div>
	        </div>
		</div>

		<div class="row" ng-show="pageData.showAlertForm">
			<div class="saved-alerts-div-wrapper">
				<div class="saved-alerts-div-container">
					<div class="alert-condition-bar-item"><p class="center-bar-item-text inline-label-text-dark">{{ 'SET SNOOZE FOR ALERT' | translate }}</p></div>
					<div class="alert-condition-bar-item"><input type="number" name="input" ng-model="pageData.snoozeHoursModel" min="0" max="24" ng-change="handleSnoozeChange()"><span class="">{{ 'limited to 24 hours max.' | translate }}</span></div>
				</div>
			</div>
		</div>

		<div class="row" ng-show="pageData.showAlertForm">
			<div class="saved-alerts-div-wrapper">
				<div class="saved-alerts-div-container">
			        <div class="button-wrapper">
			        	<div class="button-container">
							<button class="btn button-humm" type="submit" ng-click="handleResetAlert()">{{ 'CLEAR CHANGES' | translate }}</button>
						</div>
						<div class="button-container">
							<button class="btn button-humm" type="submit" ng-click="handleDeleteAlert()">{{ 'DELETE ALERT' | translate }}</button>
						</div>
						<div class="button-container" ng-class="{'admin-component-disabled':pageData.alertHasChanged==false}">
							<button ng-disabled="!pageData.alertHasChanged" class="btn button-humm" type="submit" ng-click="handleUpdateAlert()">{{ 'UPDATE ALERT' | translate }}</button>
						</div>
					</div>
		        </div>
	        </div>
		</div>

	</div>

	<div class="row">
		<div class="footer">
		    <div class="footer-copy-container">
		      <p class="footer-small-copy">&copy; Humm Systems 2012-2018. {{ 'All rights reserved. Patent Pending. Any trademarks or logos used throughout this website are the property of their respective owners.' | translate }}</p>
		    </div>
		</div>
    </div>

</div>


<div id="modal-alertedit-update" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-alertedit-update" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{modal.title}}</h3>
                <p>{{modal.message}}</p>
            </div>
            <div class="modal-body">
            	<p>{{modal.details}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default custom-modal-close-button" data-dismiss="modal" ng-click="closeModal()">{{ 'CLOSE' | translate }}</button>
                <button type="button" class="btn btn-primary custom-modal-save-button">{{ 'UPDATE' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-alertedit-delete" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-alertedit-delete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{modal.title}}</h3>
                <p>{{modal.message}}</p>
            </div>
            <div class="modal-body">
            	<p>{{modal.details}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default custom-modal-close-button" data-dismiss="modal" ng-click="closeModal()">{{ 'CLOSE' | translate }}</button>
                <button type="button" class="btn btn-primary custom-modal-save-button" ng-click="handleDeleteAlertApproved()">{{ 'DELETE' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-alertedit-activity" class="modal" tabindex="-1" role="dialog" aria-labelledby="modal-alertedit-activity" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{modal.title}}</h3>
                <p>{{modal.message}}</p>
            </div>
            <div class="modal-body">
            	<p>{{modal.details}}</p>
            </div>
        </div>
    </div>
</div>